body {
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
}

.autour-one {
  font-family: "Autour One", system-ui;
}

.poltawski-nowy {
  font-family: "Poltawski Nowy", serif;
  font-optical-sizing: auto;
}

.header {
  background:
    linear-gradient(rgba(95, 126, 100, 0.9), rgba(95, 126, 100, 0.8)),
    url("images/header_bg2.png") no-repeat center center / cover;
}
